altair==5.5.0 ; python_version == "3.13"
altex==0.2.0 ; python_version == "3.13"
asn1crypto==1.5.1 ; python_version == "3.13"
attrs==25.3.0 ; python_version == "3.13"
beautifulsoup4==4.13.4 ; python_version == "3.13"
blinker==1.9.0 ; python_version == "3.13"
boto3==1.39.17 ; python_version == "3.13"
botocore==1.39.17 ; python_version == "3.13"
cachetools==6.1.0 ; python_version == "3.13"
certifi==2025.7.14 ; python_version == "3.13"
cffi==1.17.1 ; python_version == "3.13"
charset-normalizer==3.4.2 ; python_version == "3.13"
click==8.2.1 ; python_version == "3.13"
cloudpickle==3.0.0 ; python_version == "3.13"
colorama==0.4.6 ; python_version == "3.13" and platform_system == "Windows"
contourpy==1.3.3 ; python_version == "3.13"
cryptography==45.0.5 ; python_version == "3.13"
cycler==0.12.1 ; python_version == "3.13"
entrypoints==0.4 ; python_version == "3.13"
faker==37.5.3 ; python_version == "3.13"
favicon==0.7.0 ; python_version == "3.13"
filelock==3.18.0 ; python_version == "3.13"
fonttools==4.59.0 ; python_version == "3.13"
gitdb==4.0.12 ; python_version == "3.13"
gitpython==3.1.45 ; python_version == "3.13"
htbuilder==0.9.0 ; python_version == "3.13"
idna==3.10 ; python_version == "3.13"
jinja2==3.1.6 ; python_version == "3.13"
jmespath==1.0.1 ; python_version == "3.13"
jsonschema-specifications==2025.4.1 ; python_version == "3.13"
jsonschema==4.25.0 ; python_version == "3.13"
kiwisolver==1.4.8 ; python_version == "3.13"
lxml==6.0.0 ; python_version == "3.13"
markdown==3.8.2 ; python_version == "3.13"
markdownlit==0.0.7 ; python_version == "3.13"
markupsafe==3.0.2 ; python_version == "3.13"
matplotlib==3.10.3 ; python_version == "3.13"
narwhals==2.0.1 ; python_version == "3.13"
numpy==2.3.2 ; python_version == "3.13"
packaging==25.0 ; python_version == "3.13"
pandas==2.3.1 ; python_version == "3.13"
pillow==11.3.0 ; python_version == "3.13"
platformdirs==4.3.8 ; python_version == "3.13"
plotly==6.2.0 ; python_version == "3.13"
prometheus-client==0.22.1 ; python_version == "3.13"
protobuf==5.29.5 ; python_version == "3.13"
pyarrow==18.1.0 ; python_version == "3.13"
pycparser==2.22 ; python_version == "3.13"
pydeck==0.9.1 ; python_version == "3.13"
pyjwt==2.10.1 ; python_version == "3.13"
pymdown-extensions==10.16.1 ; python_version == "3.13"
pyopenssl==25.1.0 ; python_version == "3.13"
pyparsing==3.2.3 ; python_version == "3.13"
python-dateutil==2.9.0.post0 ; python_version == "3.13"
pytz==2025.2 ; python_version == "3.13"
pyyaml==6.0.2 ; python_version == "3.13"
referencing==0.36.2 ; python_version == "3.13"
requests==2.32.4 ; python_version == "3.13"
rpds-py==0.26.0 ; python_version == "3.13"
s3transfer==0.13.1 ; python_version == "3.13"
setuptools==80.9.0 ; python_version == "3.13"
six==1.17.0 ; python_version == "3.13"
smmap==5.0.2 ; python_version == "3.13"
snowflake-connector-python==3.16.0 ; python_version == "3.13"
snowflake-snowpark-python==1.35.0 ; python_version == "3.13"
sortedcontainers==2.4.0 ; python_version == "3.13"
soupsieve==2.7 ; python_version == "3.13"
st-annotated-text==4.0.2 ; python_version == "3.13"
st-theme==1.2.3 ; python_version == "3.13"
streamlit-avatar==0.1.3 ; python_version == "3.13"
streamlit-camera-input-live==0.2.0 ; python_version == "3.13"
streamlit-card==1.0.2 ; python_version == "3.13"
streamlit-embedcode==0.1.2 ; python_version == "3.13"
streamlit-extras==0.7.5 ; python_version == "3.13"
streamlit-faker==0.0.4 ; python_version == "3.13"
streamlit-image-coordinates==0.3.1 ; python_version == "3.13"
streamlit-keyup==0.3.0 ; python_version == "3.13"
streamlit-toggle-switch==1.0.2 ; python_version == "3.13"
streamlit-vertical-slider==2.5.5 ; python_version == "3.13"
streamlit==1.47.1 ; python_version == "3.13"
tenacity==9.1.2 ; python_version == "3.13"
toml==0.10.2 ; python_version == "3.13"
tomlkit==0.13.3 ; python_version == "3.13"
tornado==6.5.1 ; python_version == "3.13"
typing-extensions==4.14.1 ; python_version == "3.13"
tzdata==2025.2 ; python_version == "3.13"
tzlocal==5.3.1 ; python_version == "3.13"
urllib3==2.5.0 ; python_version == "3.13"
validators==0.35.0 ; python_version == "3.13"
watchdog==6.0.0 ; python_version == "3.13" and platform_system != "Darwin"
wheel==0.45.1 ; python_version == "3.13"
wikipedia==1.4.0 ; python_version == "3.13"
